<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <div class="container">
      <h2 class="text-center">Mexico</h2>
      <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <table class="table table-responsive table-bordered table-striped" style="width:50%;margin: 0 auto;overflow: visible;">
        <thead>
          <tr>
            <th class="text-center">Team</th>
            <th class="text-center">Stage</th>
            <th class="text-center">Number of Events</th>
          </tr>
        </thead>
        <tbody>
           <% @teams.each do |team|  %>
           <tr>
             <td class="text-center"> 
             <div class="dropdown">
              <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"><%= team.name %>
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <% team.memberships.where(member_type: "StudentProfile").each do |studentMembership| %>
                <% studentProfile = StudentProfile.find_by_id(studentMembership.member_id) %>
                <% studentMembership.id %>
                <%string = ""%>
                <% EventAttendance.where(["attendee_type = ? and attendee_id = ?", "StudentProfile", studentMembership.member_id]).each do |eventAttendance| %>
                  <% eventAttendance.event_id %>
                  <% random = rand(1...4) %>
                  <% case random 
            		   when 1 %>
            		    <% experience = "sad"%>
            		  <% when 2 %>
            		    <% experience = "regular"%>
            		  <% when 3 %>
            		    <% experience = "happy"%>
            		<% end %>
                  <% string += Event.find(eventAttendance.event_id).title + ":" + experience.to_s + "," %>
                <% end %>
                <% unless  studentProfile.nil?  %>
                    <%studentName=Account.find(studentProfile.account_id).first_name %>
                <% end %>
                <li>
                    <button class="btn btn-link btn-lg pop" pageTitle="<%= studentName %>" studentEvents="<%= string %>" ><%= studentName %></button>
                </li>
                <% end %>
              </ul>
             </div>
             </td> 
             
             <% if team.team_submissions.empty? %>
             <td class="text-center"> Not submitted </td>
             <%end%>
                    
             <td class="text-center"><% team.team_submissions.each do |team_submission| %>
                  <%rank=team_submission.contest_rank %>
                  <% case rank 
            		   when 0 %>
            		    Quarterfinals
            		  <% when 1 %>
            		    Semifinals
            		  <% when 2 %>
            		    Finals
            		  <% when 3 %>
            		    Winners
            		<% end %>
            </td>
            <% events = [] %>
            <% team.memberships.where(member_type: "StudentProfile").each do |studentMembership| %>
                <% studentProfile = StudentProfile.find_by_id(studentMembership.member_id) %>
                <% studentMembership.member_id %>
                <% EventAttendance.where(["attendee_type = ? and attendee_id = ?", "StudentProfile", studentMembership.member_id]).each do |eventAttendance| %>
                    <% eventAttendance.event_id %>
                    <% events << Event.find(eventAttendance.event_id).title %>
                <% end %>
            <% end %>
            <td class="text-center"><%= "#{events.uniq.length}" %></td>
           </tr>
           <% end %>
           <% end %>
        </tbody>
      </table>
    </div>
   
</html>

<script>
	$(function() {
        $(".pop").click(function(){
          var pageTitle = $(this).attr('pageTitle');
          var studentEvents = $(this).attr('studentEvents');
          $(".modal .modal-title").html(pageTitle);
          $(".modal .modal-body").html("");
          var event_details = studentEvents.split(",");
          var event_details_length = event_details.length;
          var text = '<table class="table table-striped"><thead><tr><th>Event</th><th>Experience</th></tr></thead><tbody>';
          var i;
          for (i = 0; i < event_details_length - 1; i++) {
              var event_instances = event_details[i].split(":");
              text += '<tr><td>' + event_instances[0] + '</td><td><img src="/assets/'  + event_instances[1] + '.png" alt="' + event_instances[1] + '" height="42" width="42""></td></tr>';
          }
          text += '</tbody></table>'
          $(".modal .modal-body").html(text);
      
          $(".modal").modal("show");
        });
	});	
</script>
